.volume-control {
  height: 13vh;
  width: 30%;
  min-width: 13rem;
  max-width: 20rem;
  display: flex;
  align-items: center;
  margin: 0 auto;

  input {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
  }
}

.track-volume {
  height: 0.8rem;
  margin: 0 0.5rem;
}
