* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

body {
  font-family: "Lato", sans-serif;
}

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}

.App {
  transition: all 0.5s ease;
  height: 100vh;
  background: linear-gradient(to right, #eaacda, #adeafc);
}

.library-active {
  padding-left: 20%;
}

@import "./library";
@import "./nav";
@import "./player";
@import "./song";
